@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Pokemon';
    src: url('../public/PocketMonk-15ze.ttf') format('truetype');
}

@font-face {
    font-family: 'Title';
    src: url('../public/SouthParkSmilieVersion-YVVO.ttf') format('truetype');
}

:root {
    --base-white: #F5F5F5;
    --base-black: #333333;
    --primary-color-theme-1: #AC90E9;
    --primary-active-color-theme-1: #f158f7;
    --primary-selected-color-1: #F759A2;
    --primary-color-btn-theme-1: #F75F59;
    --soft-box-shadow: 0 0 5px #00000055;
    --med-box-shadow: 0 0 10px #00000055;
    --hard-box-shadow: 0 0 15px #00000055;
    --pokemon-font: 'Pokemon', 'Poppins', sans-serif;
    --title-font: 'Title', 'Poppins', sans-serif;
    --primary-font: 'Poppins', sans-serif;
}