@import url('../../root.css');

.navBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    background-color: var(--base-white);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.25s;
    will-change: background-color, box-shadow;
    box-shadow: var(--soft-box-shadow);
    z-index: 2;
    border: 2px solid var(--base-white);
}

.navBtn svg {
    fill: var(--base-black);
    width: 30px;
    height: 30px;
    transition: fill 0.25s, transform 0.45s;
    will-change: fill;
}

.navBtn:hover {
    background-color: var(--primary-active-color-theme-1);
    box-shadow: var(--hard-box-shadow);
    transform: translateY(-2px);
}

.navBtn:hover svg {
    fill: var(--base-white);
}

.navBtn svg.active {
    transform: rotate(-180deg);
}

/* Nav content */

.nav-content {
    position: fixed;
    background-color: var(--base-white);
    box-shadow: var(--soft-box-shadow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: -10px;
    overflow: hidden;
    transition: all 0.25s;
    pointer-events: none;
    will-change: background-color, box-shadow, top;
    opacity: 0;
    z-index: 1;
}

.nav-content h1::selection, a::selection {
    background-color: transparent;
}

.nav-content h1 {
    cursor: default;
    font-family: var(--primary-font);
    color: var(--base-black);
    font-size: 22px;
    padding: 20px 20px 10px;
    color: var(--primary-color-theme-1);
}

.nav-content a {
    font-family: var(--primary-font);
    color: var(--base-black);
    text-decoration: none;
    padding: 20px 30px;
    width: 100%;
    text-align: center;
    transition: all 0.25s;
    will-change: background-color, color;
    font-weight: bold;
}

.nav-content a:hover {
    background-color: var(--primary-active-color-theme-1);
    color: var(--base-white);
}

.nav-content.active {
    left: 10px;
    opacity: 1;
    pointer-events: all;
}

.nav-content a.active {
    background-color: var(--primary-selected-color-1);
    color: var(--base-white);
}